.page {
  margin: 0px auto;
}
@media screen and (max-width: 400px) {
  .page {
    max-width: 400px;
  }
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  background-color: unset;
  box-shadow: unset;
  z-index: 1;
}

.today {
  background-color: lightblue;
  color: white;
  border-radius: 50%;
  width: 40px;
  box-sizing: border-box;
  text-align: center;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.red-line {
  width: 100%;
  border-bottom: 2px solid red;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .header {
    margin-top: 40px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
  }
  .navigation__today-btn {
    height: 36px;
    border-radius: 20%;
    font-size: 10px;
    font-weight: 600;
    background-color: white;
    color: black;
    font-family: "Mulish", sans-serif;
  }
  .navigation__nav-icon {
    height: 36px;
    border-radius: 20%;
    font-size: 10px;
    font-weight: 600;
    background-color: white;
    color: black;
    font-family: "Mulish", sans-serif;
  }
  .navigation__displayed-month {
    margin-left: 20px;
    font-family: "Mulish", sans-serif;
  }
}
@media screen and (max-width: 400px) {
  .navigation {
    width: 360px;
    display: flex;
    flex-direction: row;
  }
  .navigation__today-btn {
    height: 36px;
    width: 50px;
    border-radius: 20%;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    font-weight: 600;
    background-color: white;
    color: black;
    font-family: "Mulish", sans-serif;
  }
  .navigation__nav-icon {
    height: 36px;
    border-radius: 20%;
    font-size: 10px;
    font-weight: 600;
    background-color: white;
    color: black;
    font-family: "Mulish", sans-serif;
  }
  .navigation__displayed-month {
    height: 60px;
    width: 100px;
    margin-left: 20px;
    text-align: center;
    font-family: "Mulish", sans-serif;
  }
}

.create-event-btn {
  height: 36px;
  border-radius: 20%;
  font-size: 10px;
  font-weight: 600;
  background-color: white;
  color: black;
  font-family: "Mulish", sans-serif;
}

@media screen and (min-width: 1024px) {
  .calendar__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .calendar__day {
    flex-grow: 1;
    position: relative;
    flex-direction: column;
  }
  .calendar__time-slot {
    box-sizing: border-box;
    min-width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .calendar__week {
    flex-grow: 1;
    display: flex;
  }
  .calendar__week-container {
    display: flex;
  }
  .calendar__day-label {
    flex-basis: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
  }
  .calendar__day-label__day-name {
    text-align: center;
  }
  .calendar__day-label__day-number {
    width: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .calendar__header {
    position: sticky;
    width: 360px;
    top: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .calendar__day {
    width: 45px;
    position: relative;
    flex-direction: column;
  }
  .calendar__time-slot {
    box-sizing: border-box;
    width: 46px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .calendar__week {
    flex-grow: 1;
    display: flex;
  }
  .calendar__week-container {
    display: flex;
  }
  .calendar__day-label {
    width: 45px;
    justify-content: center;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
  }
  .calendar__day-label__day-name {
    text-align: center;
  }
  .calendar__day-label__day-number {
    text-align: center;
  }
}

.time-slot {
  box-sizing: border-box;
  height: 60px;
  min-width: 40px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0px;
  box-sizing: border-box;
  font-size: 12px;
}
.time-slot:first-child {
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .event {
    position: absolute;
    background-color: lightblue;
    border-radius: 10%;
    font-size: 14px;
    padding-right: 10%;
    box-sizing: border-box;
    padding-left: 10%;
    overflow: hidden;
    text-overflow: inherit;
    width: 80%;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Mulish", sans-serif;
    padding-top: 10px;
    cursor: pointer;
  }
  .event__delete-btn {
    width: 20px;
    height: 20px;
    display: none;
  }
  .event:hover {
    width: 200px;
    height: 200px;
    z-index: 6;
  }
  .event:hover .event__delete-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    border: none;
    outline: none;
  }
}
@media screen and (max-width: 400px) {
  .event {
    position: absolute;
    background-color: lightblue;
    border-radius: 10%;
    font-size: 0px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: inherit;
    width: 80%;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Mulish", sans-serif;
    padding-top: 10px;
    cursor: pointer;
  }
  .event__delete-btn {
    width: 20px;
    height: 20px;
    display: none;
  }
  .event:hover {
    width: 100px;
    height: 200px;
    text-overflow: inherit;
    font-size: 12px;
    padding: 30px 5px;
    z-index: 6;
    position: absolute;
    left: 0;
  }
  .event:hover .event__delete-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    border: none;
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow: scroll;
  height: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
