// стили отображаемого в календаре события

.event {
  position: absolute;
  background-color: lightblue;
  border-radius: 10%;
  font-size: 14px;
  padding-right: 10%;
  box-sizing: border-box;
  padding-left: 10%;
  overflow: hidden;
  text-overflow: inherit;
  width: 80%;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Mulish", sans-serif;
  padding-top: 10px;
  cursor: pointer;
  // &:hover {
  //   width: 200%;
  //   background-color: lightblue;
  //   z-index: 1;
  // }
}
