@import "page.scss";
@import "common.scss";
@import "navigation.scss";
@import "calendar.scss";
@import "timescale.scss";
@import "create-event.scss";
@import "event.scss";
@import 'layout.scss';

* {
  box-sizing: border-box;
}

body {
  overflow: scroll;
  height: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
